@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,600,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 50px 25vw;
  padding: 25px;
}

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  margin: 0 25vw;
  position: relative;
}

.title {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.1rem;
}

.score {
  align-self: center;
  background-color: white;
  border-radius: 10px;
  color: hsl(229, 64%, 46%);
  font-size: 0.8rem;
  font-weight: 600;
  height: 75px;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  width: 75px;
}

#points {
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
}

.options {
  height: 400px;
  width: 100%;
  position: relative;
}

.options::before {
  content: "";
  background-image: url('/assets/images/bg-pentagon.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.options > div {
  border-radius: 50px;
  height: 100px;
  position: relative;
  width: 100px;
}

#scissors::after,
#rock::after,
#lizard::after,
#paper::after,
#spock::after,
.scissors::after,
.rock::after,
.lizard::after,
.paper::after,
.spock::after {
  border-radius: 40px;
  content: '';
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
}

.scissors::after,
.rock::after,
.lizard::after,
.paper::after,
.spock::after {
  border-radius: 100px;
}

#scissors::after,
.scissors::after {
  background: url('/assets/images/icon-scissors.svg') center no-repeat, white;
}

#paper::after,
.paper::after {
  background: url('/assets/images/icon-paper.svg') center no-repeat, white;
}

#rock::after,
.rock::after {
  background: url('/assets/images/icon-rock.svg') center no-repeat, white;
}

#lizard::after,
.lizard::after {
  background: url('/assets/images/icon-lizard.svg') center no-repeat, white;
}

#spock::after,
.spock::after {
  background: url('/assets/images/icon-spock.svg') center no-repeat, white;
}

#spock,
#paper,
#rock,
#scissors,
#lizard {
  position: absolute;
}

#rock, 
.rock {
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

#paper,
.paper {
  background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

#scissors,
.scissors {
  background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

#lizard,
.lizard {
  background: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
}

#spock,
.spock {
  background: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}

#rock {
  left: 380px;
  top: 310px;
}

#paper {
  left: 435px;
  top: 140px;
}

#scissors {
  left: 290px;
  top: 0;
}

#lizard {
  left: 200px;
  top: 310px;
}

#spock {
  left: 145px;
  top: 140px;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.choice {
  border-radius: 200px;
  height: 175px;
  position: relative;
  width: 175px;
}

.winner-shadow {
  background-color: hsl(214, 47%, 23%);
  border-radius: 1000px;
  height: 325px;
  position: absolute;
  width: 325px;
  top: -75px;
  left: -75px;
  z-index: -1;
}

.winner-shadow::after,
.winner-shadow::before {
  border-radius: 1000px;
  content: '';
  position: absolute;
}

.winner-shadow::after {
  background-color: hsl(214, 47%, 20%);
  width: 225px;
  height: 225px;
  top: 50px;
  left: 50px;
}

.winner-shadow::before {
  background-color: hsl(214, 47%, 17%);
  width: 275px;
  height: 275px;
  top: 25px;
  left: 25px;
}

#rules {
  position: absolute;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  bottom: 10px;
  right: -20vw;
}

.result-text {
  text-align: center;
  width: 15vw;
}


#again {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: hsl(214, 47%, 23%);;
  font-weight: 600;
  height: 5vh;
  width: 100%;
}

#userstatus {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

