* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 3px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 50px 25vw;
  padding: 25px;
}

main {
  margin: 0 25vw;
}

.options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.options > div {
  height: 75px;
  position: relative;
  width: 75px;
}

#scissors::after,
.scissors {
  content: '';
  background: url('/assets/images/icon-scissors.svg') center no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

#paper::after,
.paper {
  content: '';
  background: url('/assets/images/icon-paper.svg') center no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

#rock::after,
.rock {
  content: '';
  background: url('/assets/images/icon-rock.svg') center no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

#lizard::after,
.lizard {
  content: '';
  background: url('/assets/images/icon-lizard.svg') center no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

#spock::after,
.spock {
  content: '';
  background: url('/assets/images/icon-spock.svg') center no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

.result {
  display: flex;
}

.choice {
  height: 100px;
  position: relative;
  width: 100px;
}

.hidden {
  display: none;
}

